.DS_STORE
gitlab/config/*
gitlab/data/*
gitlab/logs/*
healthchecks/hc.sqlite
healthchecks/local_settings.py
mattermost/app/bleve-indexes/*
mattermost/app/client/*
mattermost/app/data/*
mattermost/app/logs/*
mattermost/app/plugins/*
mattermost/postgres/*
gitlab/*
